# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
env/
venv/
ENV/
*.env

# Django stuff
db.sqlite3
*.log
staticfiles/
media/
local_settings.py

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db